:root {
	--black: #212121;
	--primary: #123d5e;
	--secondary: #33aa9a;

	--white: #fefefe;
	--apple-green: #5ebd3e;
	--apple-yellow: #ffb900;
	--apple-orange: #f78200;
	--apple-red: #e23838;
	--apple-purple: #973999;
	--apple-blue: #009cdf;
}
