@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'variables';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Noto Sans Thai', sans-serif;
	line-height: 1.6;
}

.wrapper {
	max-width: 60rem;
	margin: 0 auto;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans Thai', sans-serif;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

h3 {
	margin: 0.25rem 0;
	font-size: 1.125rem;
}

p {
	margin: 0.25rem 0;
	font-size: 1rem;
}

.label {
	font-size: 0.875rem;
	color: #666;
	margin-bottom: 0.25rem;
}

select,
input,
textarea,
button {
	font-family: 'Sarabun', 'Noto Sans Thai', sans-serif;
}

select {
	cursor: pointer;
	padding: 8px 12px;
	font-size: 1rem;
	border: 1px solid var(--black);
}

input[type='text'] {
	padding: 8px 12px;
	font-size: 1rem;
	border: 1px solid var(--black);
}
